body
{
    background-image: url("images/font2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
h1
{
    font-size: 53px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-decoration: white;
    box-shadow: 5px 1px 50px green;
    background-color: rgba(206, 52, 206, 0.157);
    color: green;

    

}
header
{
    text-shadow: 5px 5px 50px black;
    border: 2px red solid;
    border-radius: 20px;
    width: 600px;
    box-shadow: 5px 1px 50px yellow;
    text-align: center;
    position: relative;
    left: 30%;

    
}
footer
{
    height: 100px;
    text-align: center;
    padding-top: 0px;
    background: #919900f6;
    position: relative;
    bottom: -400px;
    box-shadow: 10px 19px 10px rgba(181, 228, 189, 0.965);
    font-size: 1.5em;
    
}
.pieds2
{
    float: left;
}
.pieds3
{
    float: right;
}
.deco
{
    position: relative;
    bottom: -100px;
    background-color: rgb(5, 14, 41);
    height: 300px;
    width: 500px;
    border-radius: 12px 30px 15px;
    color: white;
}
.paiemen
{
    height: 80px;
height: 100pxs;}
.case
{
    height: 20px;
    width: 150px;
}
nav
{
    width: auto;
    background-color: rgba(14, 90, 27, 0.513);
    font-family: Geneva, Tahoma, sans-serif;
    border-radius: 20px 20px 20px;
    border: 10px rgba(45, 117, 3, 0.246) solid;
    position: relative;
    top: 30px;
    
}
nav li
{
    list-style-type: none;
    float: left;
}
nav ul
{
    margin: 0px;
    padding: 0px;
}
nav a
{
    display: inline-block;
    text-decoration: none;
    padding: 23px 30px;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(196, 226, 195);

}
.menu0
{
    display: table;
    position: relative;
    top: 10px;
    height: 100px;
    
    
    
}
.menu1:hover
{
    border-top: 10px gray solid;
    background-color: rgb(200, 31, 25);
}
.menu2:hover
{
    border-top: 10px yellowgreen solid;
    background-color: rgb(133, 15, 133);
}
.menu3:hover
{
    border-top: 10px coral solid;
    background-color: rgb(8, 38, 204);

}
.menu4:hover
{
    border-top: 10px rgb(240, 170, 58) solid;
    background-color: rgb(240, 50, 50);
}
.touche
{
    background-color: rgb(176, 176, 221);
    width: 400px;
    height: 40px;
    border-radius: 20px 20px 20px;
    box-shadow: chartreuse;
    font-size: 1.3em;
    font-style: italic;
    position: relative;
    right: -30px;
    top: 1px;
    border: none;
    margin: 11px;
    padding: 9px;
    
}

.corps
{
    height: 50px;
    padding: auto;
    font-size: 1.2em;
    text-align: center;
    color: rgb(243, 203, 139);
    font-family: sans-serif;
    border: 0px red solid;
    position: relative;
    top: 30px;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 1px 2px 1px red;
    background-color: rgba(67, 85, 185, 0.664);
    
}
.emmet1 
{
    background-image: url("images/font3.jpg");
    width: 650px;
    position: relative;
    left: 35%;
    top: 80px;
    color: rgb(253, 253, 253);
    border-radius: 40px 40px 40px;
}
.emmet1 input
{
    background-color: rgba(169, 211, 141, 0.822);
    height: 33px;
    width: 250px;
    font-size: 1.5em;
}
button
{
    background-color: rgba(10, 19, 70, 0.431);
    height: 60px;
    border-radius: 12px 12px 12px;
    width: 160px;
    font-size: 1.7em;
    box-shadow: yellow;
    color: white;
}
input:hover
{
    background-color: rgb(215, 224, 231);
    border-top: tomato;
}
legend
{
    font-size: 1.5em;
    marging: auto;
}
.blocimg, .blocimg1, .blocimg2, .blocimg3, .blocimg4, .blocimg5, .blocimg6, .blocimg7
{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}
.blocimg1
{
    position: relative;
    top: 100px;
}
.blocimg2
{
    position: relative;
    top: 50px;
}.blocimg3
{
    position: relative;
    top: 100px;
}.blocimg4
{
    position: relative;
    top: 150px;
}.blocimg5
{
    position: relative;
    top: 200px;
}.blocimg6
{
    position: relative;
    top: 250px;
}.blocimg7
{
    position: relative;
    top: 300px;
}
.toutes_images
{
    border: 2px red solid
    display: block;
    justify-content: space-between;
    position: relative;
    top: 80px;
    padding-block: 50px;
}

img
{
    width: 380px;
    height: 290px;
    border-radius: 10px 10px 10px 10px;
    margin: 0;
    padding: 0;

}
.cadre2
{
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgb(94, 102, 77);

}
.img09
{
    background-color: rgb(4, 228, 38);
    color: white;
    text-align: center;
    position: relative;
    top: -30px;
}
.contact
{

}
.sugestion
{
    position: relative;
    left: 500px;
    color: white;
    font-size: 1.5em;
    top: 50px;
}
textarea
{
    background-color: rgb(198, 243, 221);
    border-radius: 10px 20px 50px 50px;
    font-size: 0.7em;
 
}
input
{
    background-color: rgb(77, 163, 7);
    height: 30px;
    width: 100px;
    font-size: 1em;
}
.table1
{
    background-color: rgba(187, 9, 39, 0.123);
    font-weight: bolder;
    width: 300px;
    height: 25px;
}

@media only screen and (max-width:790px) {
    .toutes_images > * {
        display: block;
    }
    .toutes_images  img {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width:922px) 
{
    header 
    {
        position: static;
        width: 100%;
    }
    header h1 {
        font-size: 20px;
    }
    .menu0 {
        width: 100%;
    }
    nav li a {
        font-size: 12px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    .touche {
        width: 170px;
        height: 10px;
    }
    footer {
        height: auto;
        padding: 20px 10px;
    }
}   .sugestion {
    margin-top: 40px;
    position: static;
    text-align: center;
    padding: 0 20px;
}
.sugestion textarea {
    width: 100%;
    
}
.corps {
    margin-top: 10px;
    height: 100%;
    padding: 15px 10px;
}
.emmet1 {
    position: static;
    text-align: center;
    width: auto;
    margin-top: 50px;
}
.deco {
    width: auto;
    height: auto;
    position: static;
    margin-top: 40px;
}